:host ::ng-deep {
  .small .p-inputtext {
//display: none;
  }
  .small {
    margin-left: .25rem;
  }

  .reduce .p-dropdown-trigger{
    //display: none;
    width: 25px;
  }

  .p-dropdown .p-dropdown-label {
    padding-right: .25rem;
  }
}


